.table-card {
  min-width: 500px;
  width: 100%;
  height: calc(100% - 42px);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}

.DetailButton {
  width: 100% !important;
  height: 20px !important;
  min-width: 40px !important;
  text-align: -moz-center;
  float: left;
}

/* .table-collection {
  height: calc(100% - 33px);
} */

.table-header {
  height: 33px;
  width: 100%;
}

.table-row {
  float: left;
  margin: 6.5px 5px 5px 5px;
  width: 100%;
}

.table-row-content {
  float: left;
  width: 100%;
  padding: 5px 0 5px 0;
  height: 20px !important;
  top: auto;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.table-row-title {
  float: left;
  margin-left: 20px !important;
  margin-right: auto !important;
}

.table-row-seperate-header {
  margin-right: 22px !important;
  overflow: auto;
  width: 330px;
  float: right;
  margin-right: 20px;
}

.table-row-seperate {
  width: 330px;
  float: right;
}

.table-row-all {
  float: left;
  width: 50px;
  text-align: center;
}

.table-row-yearly {
  float: left;
  width: 60px;
  text-align: center;
}

.table-row-monthly {
  float: left;
  width: 80px;
  text-align: center;
}

.table-row-weekly {
  float: left;
  width: 80px;
  text-align: center;
}

.table-row-details {
  float: left;
  width: 50px;
  text-align: center;
}

.checkbox {
  float: left;
  width: 10px !important;
  height: 10px !important;
  padding: 6px 0 0 12px !important;
}

@media only screen and (max-width: 1500px) {
  .table-row-seperate-header {
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .table-row-title {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
    height: 20px;
    white-space: nowrap;
  }
}
