.setting-header {
  width: calc(100% - 16px);
  margin: 8px;
}

.settings-info {
  width: 100%;
  margin-top: 18px;
  height: 50px;
  float: left;
}

.settings-switches {
  float: left;

  padding: 8px 8px 8px 8px;
}

#new-pincode {
  width: auto;
  height: auto;
  float: left;
  margin: 16px;
}

.MuiSwitch-colorSecondary-139.MuiSwitch-checked-137 + .MuiSwitch-bar-141 {
  background-color: firebrick !important;
}
