#general-page-grid {
  width: 100%;
  height: 100%;

  float: left;
}

.container {
  background-color: azure;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
}

.header {
  background-color: bisque;
  width: 100%;
  height: 64px;
}

.header-text {
  background-color: darkgray;
}
