#navigation-header {
  width: calc(100% - 32px);
  height: 60px;
  padding: 8px 16px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

#logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
